body{
    padding: 0px;
    margin: 0px;
}

#banner{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 45px;
    padding-top: 10px;
    padding-bottom: 5px;
}

#main-division-wrapper{
    display: flex;
    justify-content: space-around;
}

#ticker-wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
}

#ticker-wrapper2{
    display: flex;
    justify-content: center;
    align-items: center;
}

#chart-main-3{
    display: flex;
    justify-content: flex-end;
    align-items: center;
}


label{
    margin-right: 10px;
}

select{
    margin-right: 10px;
}

#chart-main-3{
    margin-top:20px;
}


@media screen and (max-width: 680px){
    #main-division-wrapper{
        flex-direction: column;
    }
    #chart-main-3{
        justify-content: center;
    }
}


