body{
    padding: 0px;
    margin: 0px;
}

#banner{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 45px;
    padding-top: 10px;
    padding-bottom: 5px;
}

#banner-wrapper{
    display: flex;
    justify-content: center;
    margin-bottom: 15px;
    margin-top:5px;
}

.design{
    border-radius: 50%;
    margin: 2px;
    margin-top: 5px;
}

#main-division-wrapper{
    display: flex;
    justify-content: space-around;
}

#ticker-wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
}

#ticker-wrapper2{
    display: flex;
    justify-content: center;
    align-items: center;
}

#data-choice{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-top:20px;
}


label{
    margin-right: 10px;
}

select{
    margin-right: 10px;
}

#chart-container1{
    margin-top: 20px;
}





@media screen and (max-width: 680px){
    #main-division-wrapper{
        flex-direction: column;
    }
    #data-choice{
        justify-content: center;
    }
}


